body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #5454fc;
    color: white;
    padding: 10px 20px;
    text-align: center;
}

header h1 {
    color: white;
    font-size: 32px;
}

nav {
    margin: 10px 0;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-size: 24px;
}

nav a:hover {
    color: #eee;
    border-bottom: 2px solid #f4f4f4;
}

.container {
    /* max-width: 800px; */
    /* margin: auto; */
    padding: 20px;
    /* background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
}

.container #main {
    float: right;
    margin-top: -80px;
}

h1, h2, h3 {
    color: #333;
    font-weight: bold;
}

h3 {
    font-size: 22px;
}
p, ul {
    font-size: 18px;
}
.container .main1 {
    margin: 60px;
    margin-bottom: 400px;
}

.container .main1 p {
    margin-bottom: 160px;
    font-size: 18px;
}

.container #services{
    margin: 60px;
    /* margin-top: 400px; */
    margin-bottom: 600px;
}

.container #services img{
    float: left;
}

.container #services ul li{
    margin-left: 600px;
    font-size: 18px;
}
.container #services ul {
    /* margin-bottom: 400px; */
    margin-top: 50px;
}

.container #about {
    margin: 60px;
    margin-top: 400px;
}

.container #about p {
    float: right;
    margin-top: 20px;
    margin-right: 200px;
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #000;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
}

img {
    max-width: 100%;
    height: auto;
    /* float: right; */
}

.social-media {
    margin-top: 20px;
}

.social-media a {
    margin: 0 10px;
    text-decoration: none;
    color: #faf9f9;
}

#contact h3 {
    font-size: 22px;
    margin: 20px;
    padding: 20px;
    text-align: center;
}

#contact form {
    font-size: 20px;
    margin-left: 420px;
}

#contact input[type=text], select {
    width: 40%;
    height: 8%;
    border-radius: 8px;
    padding: 12px 20px;
    border: 2px solid black;
}

#contact input[type=email], select {
    width: 40%;
    height: 8%;
    border-radius: 8px;
    padding: 12px 20px;
    border: 2px solid black;
}

#contact textarea {
    width: 40%;
    height: 20%;
    border-radius: 8px;
    padding: 12px 20px;
    border: 2px solid black;
}

#contact input[type=submit] {
    width: 40%;
    height: 8%;
    font-size: 20px;
    color: white;
    background-color: #5454fc;
    border-radius: 8px;
}

#contact input[type=submit]:hover {
    opacity: 0.8;
}

#contact {
    background-color: #eee;
    height: 550px;
}

@media (max-width: 600px) {
    nav {
        display: flex;
        flex-direction: column;
    }
    nav a {
        margin: 5px 0;
    }
}